@import url("./vendor/stylesheet.css");
@import url("./vendor/normalize.css");
@import url("./blocks/header/header.css");
@import url("./blocks/slick/mySlick.css");
@import url("./blocks/logo/logo.css");
@import url("./blocks/footer/footer.css");
@import url("./blocks/shops/shops.css");
@import url("./blocks/brends/brends.css");
@import url("./blocks/contact/contact.css");
@import url("./blocks/form/form.css");
@import url("./blocks/thankYou/thankYou.css");
.body {
  margin: 0 auto;
  max-width: 1280px;
  min-width: 1024px;
  font-family: "Ubuntu"; }

@media screen and (max-width: 425px) {
  .body {
    max-width: 425px;
    min-width: 375px; } }

/*
div,
a,
button {
  outline: 1px solid red;
}*/
