.brends {
  margin-top: 80px;

  display: flex;
  flex-direction: column;
}

.brends__icon {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 425px) {
  .brends__img-container {
    width: 45%;
  }
  .brends__img {
    width: 130px;
  }
}
