.shops {
  margin-top: 80px;
}
.shops__title {
  font-size: 30px;
  text-align: center;
  color: rgb(16, 39, 71);
}
.shops__slick {
  margin: 60px auto;
  width: 900px;
}
.slick__img-shop {
  margin: 0 auto;
  width: 90%;
  height: 350px;
}
