.shops {
  margin-top: 80px;
}
.shops__title {
  font-size: 30px;
  text-align: center;
  color: rgb(16, 39, 71);
}
.shops__slick {
  margin: 60px auto;
  width: 900px;
}
.slick__img-shop {
  margin: 0 auto;
  width: 90%;
  height: 350px;
}
@media screen and (max-width: 576px) {
  /*.shops {
    //  display: none;
  }*/
  .shops__slick {
    width: 90%;
  }
  .slick__img-shop {
    height: 220px;
  }
}
@media screen and (max-width: 500px) {
  .slick__img-shop {
    height: 180px;
  }
}
@media screen and (max-width: 425px) {
  .slick__img-shop {
    height: 150px;
  }
}
@media screen and (max-width: 375px) {
  .slick__img-shop {
    height: 130px;
  }
}
@media screen and (max-width: 320px) {
  .slick__img-shop {
    height: 110px;
  }
}
