.footer {
  width: 100%;
  margin-top: 80px;
  background-color: #102747; }

.body__footer {
  background-color: #102747; }

.footer__place {
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end; }

.footer__title {
  margin: 0 0 40px 0;
  font-size: 12px;
  color: #ffffff; }

.footer__text {
  margin: 0 0 8px 0;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 12px;
  color: #417b8d; }

.footer__text:last-child {
  margin-bottom: 40px; }

.footer_button {
  margin: 0 0 40px 0;
  color: #417b8d; }

@media screen and (min-width: 1279px) {
  .footer__text {
    font-size: 15px; }
  .footer__title {
    font-size: 15px; } }

@media screen and (max-width: 576px) {
  .footer__place {
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    font-size: 20px; }
  .footer__title {
    margin-top: 20px;
    font-size: 20px; }
  .footer__text-address {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .footer__text {
    font-size: 14px;
    text-align: center; }
  .footer__text-phone {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .footer_button {
    font-size: 15px; } }

@media screen and (max-width: 375px) {
  .footer__title {
    font-size: 15px; }
  .footer__text-address {
    width: 300px; }
  .footer__text {
    font-size: 14px; } }
