@import url("./logoButton/logo_button.css");
.logo {
  display: flex;
  height: 140px;
  align-items: center; }

.logo__img {
  margin-left: 1%;
  width: 50%;
  height: 100px;
  background-image: url(../../../images/logo.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

.logo__img-form {
  width: 450px; }

.logo__contacts {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #102747;
  font-size: 20px; }

.contacts_phone {
  margin: 20px;
  color: #102747;
  text-decoration: none; }

@media screen and (max-width: 576px) {
  .logo {
    flex-direction: column;
    align-items: center;
    height: auto; }
  .logo__img {
    margin: 0 auto;
    width: 100%; }
  .logo__contacts {
    margin-top: 10px;
    width: 96%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 15px; }
  .contacts_phone {
    margin: 15px 0 10px 0;
    padding-left: 4%;
    line-height: 25px; } }
