@import url("./button-submit/form__button-submit.css");
.form {
  margin: 20px auto;
  width: 90%;
  padding: 20px;

  display: flex;
  flex-direction: column;

  box-shadow: 0 0 10px rgba(92, 90, 90, 0.5);
}
.form__all {
  display: flex;
}
.form__input-text {
  display: flex;
  flex-direction: column;
}
.form__input-name {
  height: 35px;
}
.form__textarea {
  margin-left: 40px;
  width: 100%;
}
textarea {
  width: 100%;
  height: 215px;
}

/*input[type="file"] {
  //display: none;
}*/
.custom-file-upload {
  margin: 10px 0 20px 0;
  border: 1px solid grey;
  display: inline-block;
  padding: 8px 12px;
  cursor: pointer;
}
