@import url("./logoButton/logo_button.css");

.logo {
  display: flex;
  height: 140px;
  align-items: center;
}
.logo__img {
  margin-left: 1%;
  width: 260px;
  height: 100px;
}
.logo__contacts {
  width: 90%;
  display: flex;
  justify-content: space-between;

  align-items: center;

  color: rgb(16, 39, 71);
  font-size: 20px;
}
.contacts_phone {
  margin: 20px;

  color: rgb(16, 39, 71);
  text-decoration: none;
}
